* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --text-color: #000000;
  --primary-color: #006A67;
  --bg-color: #000B58;
  --check-color: #003161;
}
@font-face {
  font-family: 'Playfair Display';
  src: url(/assets/fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: url(/assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Playfair Display';
  line-height: 1.6;
  color: var(--text-color);

}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  /* background-color: rgb(29, 101, 29); */
  padding: 10px;
  height: 50px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  padding: 5px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #ff0000;
  font-size: 1.2rem;
}

section {
  padding: 20px;
  /* background: var(--check-color); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#home{
  height: 750px;
  display: flex;
  color: var(--text-color);
  flex-direction: column;
  justify-content: center;
  /* background-image: url(/assets/images/2.jpg); */
}

h1 {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 2.5rem;
}

h4{
   margin-top: 10px;
   margin-bottom: 50px;
}
.actions{
  display: flex;
  flex-direction: row;
}

.actions button {
  margin: 0 15px 0  0 ;
  font: inherit;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 3px 6px;
  cursor: pointer;
  transition: 0.2s;
}

.actions button:hover{
  transform: scale(1.01);
  box-shadow: 0 0 12px rgba(254, 254, 254, 0.6);
  
}

#expertise {
  display: flex;
  flex-direction: column;
  height: 950px;
  /* background-color: aqua; */
}
.tools{
  margin-bottom: 20px;
  width: 400px;
  transition: 0.3s;
}
.tools:hover{
  transform: scale(1.03);
}
.tools h3{
  margin-bottom: 10px;
}
.tools ul {
  display: flex;
  align-items: center;
}
.tools ul li{
  height: 110px;
  background-color: var(--primary-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 10px;
  margin-right: 20px;
  transition: 0.3s;
}
.tools ul li:hover{
  cursor: pointer;
  background-color: #0EA5E9;
  transform: scale(1.1);
}
.toolIMG{
  width: 50px;
  height: auto;
}

#projects{
  height: 400px;
  /* background-color: #a0934b; */
}
#projects h2 {
  margin-bottom: 20px;
}
.project-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
  margin-bottom: 20px;
}

.project-card {
  background: var(--primary-color);
  padding: 15px;
  border-radius: 8px;
  transition: 0.3s;
  width: 300px;
}

.project-card a {
  text-decoration: none;
  color: var(--text-color);
}
.project-card:hover {
  background-color: #0EA5E9;
  transform: scale(1.1);
}
#projects button {
  margin: 0 15px 0  0 ;
  font: inherit;
  color: var(--text-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 3px 6px;
  cursor: pointer;
  transition: 0.2s;
}

#projects button:hover{
  transform: scale(1.01);
  box-shadow: 0 0 12px rgba(254, 254, 254, 0.6);
}

#contact{
  display: flex;
  flex-direction: row;
  height: 500px;
  /* background-color: aquamarine; */
}
#contact h2{
  width: 30%;
  font-size: 4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;

}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

form input, form textarea, form button {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  width: 300px;
  font-family: inherit;
  font-size: 15px;
  transition: 0.5s;
}
form input:focus, form textarea:focus{
  transform: scale(1.1);
  margin-bottom: 15px;
  outline: none;
}
form textarea{
  resize: none;
}
form button {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

form button:hover {
  transform: scale(1.01);
  box-shadow: 0 0 12px rgba(254, 254, 254, 0.6);
}
.links{
  display: flex;
  justify-content: center;

}

.links a img, .links h4{
  width: 50px;
  height: auto;
  transition: 0.5s;
  margin-right: 10px;
  color: var(--text-color);
}
.links a img:hover{
  filter: invert(1);
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  font-size: 0.9rem;
  color: #777;
  background-color: #4f4f4f;
}

/* Responsive adjustments */
@media (max-width: 500px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  #home h1 {
    font-size: 2rem;
    text-align: center;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }
}